# Qt Creator and build configurations
*.pro.user
*.pro.user.*
build-*
*.autosave
.qmake.stash
.qtc_clangd/
Makefile*
object_script.*

# Compiles / Object files
*.exe
*.o
*.obj
*.dll
*.lib
*.a
*.so
*.dylib
debug/
release/

# Temporary and OS files
.DS_Store
Thumbs.db
/scratch/
/tmp/
